* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}

body {
    background-color: aquamarine;
}

.p-1 {
    width: 50px;
    height: 50px;
}

/* i {
    background-color: red;
    width: 20px;
    height: 20px;

} */

ul{
    list-style: none;
}

.container {
    max-width: 25%;
    max-height: fit-content;
}

.list-group-item{
    background-color: lightgoldenrodyellow;
}

.coinList-image {
    width: 50px;
}

.coinList-item {
    display: flex;
}

.coinsummary {
    border-color: lightcoral !important;
    border-style: outset !important;
}

.coin-data-category {
    fotn-size: 15px;
}

.text-success {
    position: absolute;
    padding-left: 150px;
}

.delete-icon{
    display: none;
    position: absolute;
    left: 6px;
    
}

.coinlist-item:hover .delete-icon {
    display: block;
}

